<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title %></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" />
   <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    </head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <% for (var i = 0; i <nav.length; i++) { %>
          <li><a href= '<%= nav[i].link %>' > <%=nav[i].text %> </a> </li>
      <% } %>
  </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>



<div class="container">
  <div class="row center">
    <div class="col-md-3 well">
          <input type="button" class=" btn-lg btn-primary" style="margin-top:20px;" 
            value="show recipes" onclick="window.location.href='/data/showRecipes'">
          <input type="button" class=" btn-lg btn-primary" style="margin-top:20px;" 
            value="delete recipes" onclick="window.location.href='/data/deleteRecipes %>'">
    </div>
    <div class="col-md-3 well">
        <input type="button" class=" btn-lg btn-primary" style="margin-top:20px;" 
            value="show recipe Ingredients" onclick="window.location.href='/data/showRecipeIngredients'">
        <input type="button" class=" btn-lg btn-primary" style="margin-top:20px;" 
          value="delete recipe Ingredients" onclick="window.location.href='/data/deleteRecipeIngredients %>'">
    </div>
    <div class="col-md-3 well">
          <input type="button" class=" btn-lg btn-primary" style="margin-top:20px;" 
            value="show Ingredients" onclick="window.location.href='/data/showIngredients'">
          <input type="button" class=" btn-lg btn-primary" style="margin-top:20px;" 
            value="delete Ingredients" onclick="window.location.href='/data/deleteIngredients %>'">
    </div>
    <div class="col-md-3 well">
          <input type="button" class=" btn-lg btn-primary" style="margin-top:20px;" 
            value="show Shopping" onclick="window.location.href='/data/showShopping'">
          <input type="button" class=" btn-lg btn-primary" style="margin-top:20px;" 
            value="delete Shopping" onclick="window.location.href='/data/deleteShopping %>'">
    </div>
    <div class="col-md-3 well">
          <input type="button" class=" btn-lg btn-primary" style="margin-top:20px;" 
            value="show directions" onclick="window.location.href='/data/showDirections'">
          <input type="button" class=" btn-lg btn-primary" style="margin-top:20px;" 
            value="delete directions" onclick="window.location.href='/data/deleteDirections %>'">
    </div>
    <div class="col-md-3 well">
          <input type="button" class=" btn-lg btn-primary" style="margin-top:20px;" 
            value="show categories" onclick="window.location.href='/data/showCategories'">
          <input type="button" class=" btn-lg btn-primary" style="margin-top:20px;" 
            value="delete categories" onclick="window.location.href='/data/deleteCategories %>'">
    </div>
    <div class="col-md-3 well">
          <input type="button" class=" btn-lg btn-primary" style="margin-top:20px;" 
            value="show units" onclick="window.location.href='/data/showUnits'">
          <input type="button" class=" btn-lg btn-primary" style="margin-top:20px;" 
            value="delete units" onclick="window.location.href='/data/deleteUnits %>'">
    </div>
  </div>
</div>


<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
    <div class="center"><%=collection%></div>
    <div class="row">
      <% for (let recipe of recipes){ %>
          <div class="col-sm-3 well">
              <span class="blue big"><%=recipe.name%></span>
              <span><%=recipe.description%></span>
          </div>
      <% }%>
      <% for (let ingredient of ingredients){ %>
        <div class="col-sm-3 well">
          <span class="blue big"><%=ingredient.name%></span>
          <span><%=ingredients[i].category%></span>
        </div>
      <% }%> 
      <% for (let recipesIngredient of recipesIngredients){ %>
        <div class="col-sm-3 well well-lg tall">
          <span style="color:red"><%=recipesIngredient.ingredient%></span>
          <span  class="small"><%=recipesIngredient.quantity%></span> | 
          <span  class="small"><%=recipesIngredient.unit%></span>
          <span class="small" ><%=recipesIngredient.recipe%></span>  
          </div>
      <% }%>
      <% for (let item of shoppingList){ %>
        <div class="col-sm-12">
          <%=item.ingredient%>
        </div>
      <% }%>
      <% for (let direction of directions){ %>
        <div class="col-sm-6 well">
        <span class="blue big"><%=direction.stepNumber%></span>
        <span ><%=direction.direction%></span>
        </div>
      <% }%>
      <% for (let category of categories){ %>
        <div class="col-sm-3 well">
        <span class="blue big"><%=category.name%></span>
        <span class=""><%=category.autoOrder%></span>
        </div>
      <% }%>
      <% for (let unit of units){ %>
        <div class="col-sm-2 well">
        <span ><%=unit.name%></span>
        </div>
      <% }%>
    </div>
</div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
  <script src="/lib/jquery/dist/jquery.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bundle.js"></script>
</body>
</html>
