<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>
    <%=recipe.name %>
  </title>
  <meta name="generator" content="Bootply" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" />
  <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
  <link href="../css/styles.css" rel="stylesheet">
  <link href="../../css/styles.css" rel="stylesheet">
  <script src="/lib/jquery/dist/jquery.js"></script>
</head>

<body>
  <header class="navbar navbar-bright navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Home</a>
      </div>
      <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <% for (var i = 0; i <nav.length; i++) { %>
            <li>
              <a href='<%= nav[i].link %>'>
                <%=nav[i].text %>
              </a>
            </li>
            <% } %>
        </ul>
        <ul class="nav navbar-right navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="glyphicon glyphicon-search"></i>
            </a>
            <ul class="dropdown-menu" style="padding:12px;">
              <form class="form-inline">
                <button type="submit" class="btn btn-default pull-right">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
                <input type="text" class="form-control pull-left" placeholder="Search">
              </form>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <% if (message.type ==  'error') {  %>
          <div class="alert alert-danger">
            <%=message.message%>
          </div>      
        <% } else if (message.type== 'success') { %>
          <div class="alert alert-success">
            <%=message.message%>
          </div>      
        <% } %>
      </div>
    </div>
    <div class="row well">
      <form name="recipeDetailForm" action="/recipes/saveRecipe" method="POST">
        <div class="col-md-4">
          <input style="margin-bottom:10px;" name="image" id="image" placeholder="" value="">
          <input  type="button" class="btn btn-primary" name="add" value="add image" onclick="recipeImage.src=image.value;" />
          <img width="100%" id="recipeImage" name="recipeImage" src="<%=recipe.image %>" />
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-6">
              <label for="name">Recipe Name</label>
              <input style="margin-bottom:10px;"  class="form-control" name="name" id="name" value="<%=recipe.name %>">
            </div>
            <div class="col-md-4">
              <label for="name">cook time</label>
              <input style="margin-bottom:10px;" class="form-control" name="timetoCook" id="timetoCook" value="<%=recipe.timetoCook %>">
            </div>
            <div class="col-md-2">
              <label for="addedToWeek">add to week</label>
              <% if (recipe.addedToWeek == 1) {%>
              <input name="addedToWeek"  class="center"  type="checkbox" checked>
              <% } else {%>
              <input name="addedToWeek"  class="center"  type="checkbox" >
              <% }%>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="description">description</label>
              <textarea rows="4" class="form-control" style="margin-bottom:10px;" name="description" id="description"><%=recipe.description %></textarea>
            </div>
          </div>
        </div>
        <div class="col-md-1 center">
          <input type="submit" class="form-control btn btn-primary" style="margin-top:20px;" value=" Save ">
          <input type="button" class="form-control btn btn-primary" style="margin-top:20px;" value="Delete" onclick="window.location.href='/recipes/deleteRecipes?name=<%=recipe.name %>'">
          <input type="button" class="form-control btn btn-primary" style="margin-top:20px;" value=" New  " onclick="window.location.href='/recipes/recipeDetail'">
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-md-6 well well-lg">
        <div class="center ">
          <h4>Ingredients</h4>
        </div>
        <form name="addIngredient" action="/recipes/addIngredient?name=<%=recipe.name%>" method="POST">
          <div class="row bottom-pad ">
            <div class="col-md-12">
              <select name="selectedIngredient" class="form-control " >
                <% for (var i = 0; i <ingredients.length; i++) { %>
                  <option  value="<%=ingredients[i].name%>"><%=ingredients[i].name%></option>
                <% } %>
              </select>
            </div>
          </div>
          <div class="row bottom-pad">
            <div class="col-md-4">
              <input name="quantity" type="text" class="form-control bottom-pad "/>
            </div>
            <div class="col-md-4">
              <select class="form-control" name="unit">
                <% for (var i = 0; i <units.length; i++) { %>
                  <option  value="<%=units[i].name%>"><%=units[i].name%></option>
                <% } %>
              </select>
            </div>
            <div class="col-md-4">
              <input type="submit" class=" btn btn-primary" value="Add">
            </div>
          </div>
        </form>
        <form name="removeIngredientForm" action="/recipes/removeIngredient?name=<%=recipe.name%>" method="POST">
          <% for (let recipeIngredient of recipeIngredients) { %>
            <div  >
              <button class="linkButton" name="receipeIngredient" type="submit" value="<%=recipeIngredient.ingredient%>">
                <%=recipeIngredient.quantity%> <%=recipeIngredient.unit%> <%=recipeIngredient.ingredient%>
              </button>
            </div>
          <% } %>
        </form>
      </div>
      <div class="col-md-6 well">
        <div class="center">
          <h4>Directions</h4>
        </div>
        <form action="/recipes/addDirection?name=<%=recipe.name%>" method="Post">
          <div class="row">
            <div class="col-md-2">
              <label for="stepNumber">step #</label>
              <input type="text" class="form-control" name="stepNumber" id="stepNumber"/>
            </div>
            <div class="col-md-8">
              <label for="direction">Direction</label>
              <textarea class="form-control" type="type" name="direction" id="direction"></textarea>
            </div>
              <div class="col-md-2" ><br/>
              <button type="submit" class="btn btn-primary" value="add">add</button>
            </div>
          </div>
        </form></br>
        <% for (let direction of directions)  {%>
          <div onclick="window.location.href='/recipes/deleteDirection?name=<%=recipe.name%>.<%=direction.stepNumber%>'"><%=direction.stepNumber%>: <%=direction.direction%></div>
        <% } %>
        </div>
      </div>
    </div>
</div>
<!-- /cont -->
